@media (max-width: 1200px)
{
    #marketing, #design
    {
        width: 600px;
        padding: 80px;
    }

    .slick-cases-wrapper .slide-title
    {
        font-size: 18px;
    }

    .slick-cases-wrapper .block-text p
    {
        font-size: 16px;
    }

    .menu-list li .menu-item
    {
        font-size: 72px;
    }

    .sect-contacts h2
    {
        font-size: 36px;
    }

    .image-title h1
    {
        font-size: 140px;
    }

    .team-item img
    {
        width: 250px;
        height: 420px;
    }

    .brands-wrapper .brand img
    {
        width: 100%;
    }

    .brands-wrapper
    {
        justify-content: space-between;
    }

    .brands-wrapper .brand
    {
        width: 110px;
    }

    .first-screen.reputation .slogan h1
    {
        font-size: 75px;
    }

    .step-wrapper:after
    {
        top: -100px;
    }

    .steps-reputation:before
    {
        top: 30%;
    }
}

@media (max-width: 992px)
{
    .slogan h1
    {
        font-size: 78px;
    }

    .slogan
    {
        max-width: 370px;
    }

    #marketing, #design
    {
        width: 500px;
        padding: 80px;
    }

    .btn-follow
    {
        font-size: 22px;
    }

    .slick-cases-wrapper .col-text
    {
        padding-right: 300px;
        padding-top: 30px;
    }

    .slide-item .block-image
    {
        padding-right: 300px;
        
    }
    .slide-item .block-image img
    {
        width: 300px;
        margin: auto;
    }

    .scroll-block button img
    {
        height: 80px;
    }

    .about-us .text-wrapper
    {
        height: auto;
    }

    .title
    {
        font-size: 47px;
        letter-spacing: 10px;
    }

    .contact-form input
    {
        width: 250px;
    }

    .screen.contacts .col-contacts .btn-follow, .section.contacts .col-contacts .btn-follow
    {
        width: 250px;
        padding: 0 0px 0 70px;
    }

    .sect-contacts h2
    {
        font-size: 36px;
    }

    .sect-contacts .contacts-wrapper .contact-item
    {
        position: relative;
        margin: 0 auto 40px auto;
    }

    .sect-contacts .contacts-wrapper
    {
        flex-direction: column;
    }

    .sect-contacts h2
    {
        font-size: 26px;
        margin-bottom: 40px;
        margin-top: 5px;
    }

    .sect-contacts .contacts-wrapper
    {
        top: 22%;
    }

    .image-title h1
    {
        font-size: 90px;
    }

    .image-title
    {
        height: 450px;
    }

    .team-wrapper .team-item:nth-child(3n - 1)
    {
        margin-top: 0;
    }

    .quote .image-wrapper img
    {
        width: 100%;
    }

    .step-wrapper:after
    {
        left: -470px;
    }

    .first-screen.reputation .slogan h1
    {
        font-size: 55px;
    }

    .first-screen.reputation
    {
        min-height: 650px;
    }
}

@media(max-width: 768px)
{
    .section
    {
        padding-top: 85px;
    }
    .btn-follow
    {
        font-size: 20px;
        padding: 0 15px 0 75px;
    }

    .slick-cases-wrapper .block-text p
    {
        font-size: 15px;
    }

    .slick-cases-wrapper .col-text
    {
        padding-right: 15px;
    }

    .slick-cases-dots
    {
        display: none;
    }

    .slide-item .block-image
    {
        padding-right: 0;
    }

    .title 
    {
        font-size: 42px;
        letter-spacing: 5px;
    }

    .about-us .col-text p:first-child
    {
        margin-top: 50px;
    }

    .screen.contacts:before
    {
        width: 40%;
    }

    .like-chat
    {
        left: 54%;
    }

    footer .container
    {
        flex-wrap: wrap;
    }

    .copyright
    {
        width: 100%;
        text-align: center;
    }

    footer
    {
        padding: 20px 0;
    }

    .sect-contacts h2
    {
        font-size: 28px;
        margin-bottom: 40px;
        margin-top: 5px;
    }

    .image-title h1
    {
        font-size: 55px;
        margin-bottom: 0;
    }

    .image-title
    {
        height: 280px;
    }

    .few-words .words-item
    {
        padding: 0 10px;
    }

    .team-item img
    {
        width: 200px;
        height: 300px;
    }

    .our-partners:after
    {
        width: 100%;
        height: 390px;
    }

    .brands-wrapper .brand
    {
        width: 135px;
    }

    .brands-wrapper
    {
        padding: 50px 0;
    }

    .quote .quote-text
    {
        width: auto;
        margin-left: -65px;
        font-size: 20px;
    }

    .first-screen.reputation .slogan h1
    {
        font-size: 35px;
    }

    .first-screen.reputation .pr-text
    {
        padding-left: 30px;
    }

    .step-wrapper:after
    {
        content: none;
    }

    .step-wrapper .step-item:nth-child(n)
    {
        margin: auto;
        width: 550px;
    }
}

@media(max-width: 576px)
{
    .section
    {
        padding-top: 65px;
    }

    .sect-contacts h2
    {
        font-size: 18px;
    }
    .cursor
    {
        display: none;
    }
    #design
    {
        right: -650px;
    }

    #marketing
    {
        left: -650px;
    }
    
    #reputation
    {
        top: -650px;
    }

    .scroll-block
    {
        display: none;
    }

    .navbar-brand img
    {
        height: 30px;
    }

    .menu-list
    {
        padding-left: 0;
    }

    .menu-list li .menu-item
    {
        font-size: 36px;
    }

    .first-screen .container
    {
        flex-direction: column;
    }

    .navbar .container
    {
        padding: 0;
    }

    .navbar
    {
        padding-top: 8px;
    }

    .screen
    {
        padding-top: 60px;
    }

    .slogan h1
    {
        font-size: 40px;
        width: 135px;
    }

    .second-screen .btn-follow:nth-child(2), .second-screen .btn-follow:nth-child(3)
    {
        position: relative;
        top: auto;
        left: auto;
    }

    .screen.second-screen .btn-follow
    {
        width: 250px;

    }

    .second-screen .container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .slick-cases-wrapper .col-text
    {
        padding-top: 10px;
    }

    .slick-cases-wrapper .block-text p
    {
        line-height: 22px;
        font-size: 14px;
        width: 250px;
    }

    .title
    {
        margin-top: 0px;
        margin-bottom: 15px;
        font-size: 32px;
    }

    .slick-cases-wrapper .slide-title
    {
        margin-bottom: 5px;
    }

    .slide-item .block-image img
    {
        width: 200px;
    }

    .slide-item .col-img
    {
        order: -1;
    }

    .screen.cases .container:nth-child(3)
    {
        margin-top: 0;
    }

    .slick-dotted.slick-slider
    {
        margin-bottom: 5px;
    }

    .btn-slider
    {
        width: 55px;
        height: 55px;
        background-size: cover;
    }

    .slick-cases-nav
    {
        right: 3%;
        bottom: 10%;
    }

    .about-us .col-text p:first-child
    {
        margin-top: 0;
    }

    .about-us .col-text p
    {
        font-size: 15px;
    }

    .about-us .text-wrapper p:nth-child(2)
    {
        margin-bottom: 15px;
    }

    .like-chat
    {
        display: none;
    }

    .screen.contacts:before, .section.contacts:before
    {
        content: none;
    }

    .contact-form 
    {
        align-items: center;
        margin-bottom: 10px;
    }

    .col-contacts .btn-follow
    {
        margin: 0 auto;
    }

    .contacts-wrapper
    {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-page footer
    {
        position: absolute;
        height: 135px;
        bottom: 0;
    }

    footer 
    {
        height: auto;
    }

    footer .contact
    {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .copyright
    {
        text-align: left;
    }

    .screen.cases, .about-us
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-us .container
    {
        height: auto;
    }

    .section 
    {
        min-height: 675px;
    }

    .image-title h1
    {
        font-size: 40px;
        letter-spacing: 5px;
    }

    .few-words .words-wrapper
    {
        display: block;
    }

    .few-words .words-item
    {
        width: 100%;
    }

    .our-team .team-wrapper
    {
        justify-content: center;
    }

    .brands-wrapper .brand
    {
        width: 50%;
    }

    .brands-wrapper .brand img
    {
        width: 130px;
    }

    .our-partners:after
    {
        height: 570px;
    }

    .brands-wrapper .brand:nth-child(3n - 2) img, .brands-wrapper .brand:nth-child(3n) img
    {
        margin: auto;
    }

    .our-partners h2
    {
        font-size: 43px;
        letter-spacing: 5px;
    }

    .our-partners .col-text
    {
        padding-left: 15px;
    }

    .quote .quote-text
    {
        margin-left: 0;
        margin-top: -65px;
        margin-bottom: 10px;
    }

    .quote
    {
        padding-bottom: 70px;
    }

    .section.contacts
    {
        min-height: 510px;
    }

    .step-wrapper .step-item:nth-child(n)
    {
        width: 100%;
    }

    .steps-reputation:before
    {
        content: none;
    }

    .numbers-wrapper .number-item::after
    {
        top: 0px;
    }

}