body
{
    background: #000C18;
    color: #ffffff;
    cursor: none;
    
}

body.main-page
{
    overflow: hidden;
}

a, button, input
{
    cursor: none!important;
    outline: none!important;
}


.cursor
{
    width: 1px;
    height: 1px;
    position: fixed;
    background-color: red;
    pointer-events: none;
    z-index: 5000;
    mix-blend-mode: exclusion;
}

.cursor .bg
{
    position: absolute;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    
}

.screen 
{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding-bottom: 100px;
    padding-top: 80px;
    position: relative;
    overflow: hidden;
}

.navbar
{
    padding-top: 30px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 500;
    transition: 0.5s;
}

.navbar.active
{
    z-index: 100;
    opacity: 0;
}

.btn-menu
{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #000000;
    position: relative;
    transition: 0.5s;
    cursor: none!important;
}

.btn-menu:before, .btn-menu:after, .btn-menu span
{
    height: 2px;
    position: absolute;
    background: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.btn-menu span
{
    width: 65%;    
}

.btn-menu:before
{
    content: "";
    width: 50%;
    transform: translate(-50%, -6px);
}

.btn-menu:after
{
    content: "";
    width: 50%;
    transform: translate(-50%, 6px);
}

.btn-menu:hover
{
    transform: scale(1.2);
}

.btn-menu:hover:after, .btn-menu:hover:before, .btn-menu:hover span
{
    width: 65%;
}

.btn-menu.active span
{
    opacity: 0; 
}

.btn-menu.active:after
{
    top: 50%;
    transform: translate(-50%, -50%) rotate(-135deg);
}

.btn-menu.active:before
{
    transform: translate(-50%, -50%) rotate(135deg);
}

.navbar-menu 
{
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100vw;
    background-color: rgba(1, 20, 30, 0.99);
    padding-top: 135px;
    overflow: auto;
    z-index: 400;
}


.navbar-menu.animate__animated
{
    left: 0;
}

.menu-list li
{
    list-style-type: none;
    font-family: 'Proxima Nova';
    text-transform: uppercase;
    color: #6f7679;
    transition: 0.5s;
}

.menu-list li:hover
{
    color: #ffffff;
}


.menu-list li .menu-item
{
    font-weight: 700;
    font-size: 91px;
    color: inherit;
}

.menu-list li .menu-item:hover
{
    text-decoration: none;
}

.menu-list li
{
    position: relative;
    padding-left: 60px;
}

.menu-list li .count
{
    position: absolute;
    left: 0;
    top: 50%;
    font-weight: 100;
    transform: translateY(-50%) rotate(-90deg);
}

.first-screen
{
    position: relative;
    display: flex;
    align-items: center;
    background: url('../images/bg/bg-contacts.png');
}

.first-screen .bg
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.bg .circle
{
    position: absolute;
    width: 480px;
    height: 480px;
    background-color: #000D1A;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.bg .circle-dotted
{
    position: absolute;
    width: 580px;
    height: 580px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px dotted #001927;
    animation: rotate 105s linear infinite;
}

@keyframes rotate {
    0% {transform: translate(-50%, -50%) rotate(0deg);}
    2% {transform: translate(-50%, -50%) rotate(7deg);}
    5% {transform: translate(-50%, -50%) rotate(18deg);}
    20% {transform: translate(-50%, -50%) rotate(72deg);}
    80% {transform: translate(-50%, -50%) rotate(288deg);}
    95% {transform: translate(-50%, -50%) rotate(342deg);}
    98% {transform: translate(-50%, -50%) rotate(353deg);}
    100% {transform: translate(-50%, -50%) rotate(360deg);}
}

.circle-bounce
{
    position: absolute;
    top: 25%;
    right: 25%;
    animation: bounce 5s linear infinite;
}

@keyframes bounce {
    0%
    {
        transform: translateY(0px);
    }

    50%
    {
        transform: translateY(-25px);
    }

    100%
    {
        transform: translateY(0px);
    }

}

#dayzy-background
{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    pointer-events: none;
    
}

#dayzy-background.active
{
    z-index: 201;
}

#dayzy-background.hidden
{
    opacity: 0;
}

.screen .container, .section .container
{
    z-index: 10;
    position: relative;
}

.slogan
{
    max-width: 400px;
}

.slogan h1
{
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
}

.link
{
    font-size: 16px;
    text-transform: uppercase;
    color: #4da69a;
    font-weight: 900;
    padding-right: 15px;
    position: relative;
}

.link:after
{
    content: url('../images/icons/link-arrow.png');
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.link:hover
{
    color: inherit;
    text-decoration: none;
}

.pr-text
{
    margin-top: auto;
    margin-bottom: -35px;
    font-size: 16px;
    max-width: 300px;
    font-weight: 100;
}

.first-screen .container
{
    display: flex;
    justify-content: space-between;
}

.pr-text p:nth-child(2)
{
    color: #93abb4
}

.scroll-block
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 300;
    display: flex;
    justify-content: center;
    background-color: #001220;
    transition: 0.5s;
}

.scroll-block button
{
    border: none;
    background: none;
    margin: 10px 0;
}

.second-screen .container
{
    position: relative;
    transition: 0.5s;
}

.second-screen .main-container.active
{
    opacity: 0;
}

.btn-follow
{
    height: 65px;
    border: 1px solid #4da69a;
    background: none;
    color: #ffffff;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 30px 0 90px;
    letter-spacing: 3px;
    position: relative;
    line-height: 65px;
    display: inline-block;
}

.btn-follow:after
{
    content: "";
    position: absolute;
    height: 100%;
    width: 60px;
    left: 0;
    top: 0;
    transition: 0.5s;
    background-color: rgba(77, 166, 154, 0.2);
    border-right: 1px solid #4da69a;
    z-index: -1;

}

.btn-follow:before
{
    content: url('../images/icons/btn-arrow.png');
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 10;
}

.btn-follow:hover:after
{
    width: 100%;
    background-color: rgba(77, 166, 154, 0.7);
}

.btn-follow:hover
{
    color: inherit;
    text-decoration: none;
}

.second-screen .container
{
    height: 100%;
    background: url('../images/background-lines.png');
    background-repeat: no-repeat;
    background-position: center;
}

.second-screen .btn-follow:nth-child(1)
{
    display: inline-block;
}

.second-screen .btn-follow:nth-child(2)
{
    position: absolute;
    top: 50%;
    left: 0;
}

.second-screen .btn-follow:nth-child(3)
{
    position: absolute;
    top: 50%;
    right: 0;
}

.second-screen .btn-wrapper
{
    margin-top: 30px;
    text-align: center;
}

.title
{
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 900;
    letter-spacing: 15px;
}

.bg-text
{
    position: absolute;
    top: 0;
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 20px;
    opacity: 0.01;
    left: 20%;
    line-height: 150px;
}

.slide-item
{

}

.hidden
{
    opacity: 0;
    pointer-events: none;
}

#reputation
{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background: url('../images/bg/reputation.png');
    background-repeat: no-repeat;
    z-index: 200;
    padding: 70px 0;
    transition: 0.5s;
}
#reputation.active
{
    top: 0;
}
.btn-back
{
    height: 51px;
    width: 51px;
    background: url('../images/icons/btn-back.png');
    border: none;
    display: block;
    margin-bottom: 10px;
}

.title.sm
{
    font-size: 30px;
    letter-spacing: 5px;
}

#reputation .wrapper
{
    max-width: 500px;
}

.wrapper p
{
    font-size: 18px;
    margin: 25px 0;
}

#marketing
{
    position: fixed;
    width: 800px;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 500;
    transition: 0.5s;
    background: url('../images/bg/marketing.png');
    background-repeat: no-repeat;
    padding: 80px 80px 80px 150px;
    display: flex;
    align-items: center;
}

#marketing.active
{
    left: 0;
}

#marketing .title, #design .title
{
    margin-top: 50px;
    display: block;
}

#marketing .btn-follow, #design .btn-follow
{
    margin-top: 50px;
}

#design
{
    position: fixed;
    top: 0;
    right: -100%;
    transition: 0.5s;
    width: 800px;
    height: 100%;
    background: url('../images/bg/marketing.png');
    background-repeat: no-repeat;
    padding: 80px 150px 80px 80px;
    display: flex;
    align-items: center;
    z-index: 500;
}

#design.active
{
    right: 0;
}

.slick-cases-wrapper .slide-item
{
    display: flex;
}

.slick-cases-wrapper .block-image img
{
    width: 100%;
    height: auto;
}

.slick-cases-wrapper .slide-title a
{
    margin-right: 15px;
}

.slick-cases-wrapper .slide-title
{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.slick-cases-wrapper .block-text p
{
    font-size: 17px;
    line-height: 30px;
    font-weight: 100;
}

.slick-cases-wrapper .col-text
{
    display: flex;
    align-items: center;
}

.btn-slider
{
    width: 67px;
    height: 67px;
    border: none;
    background: url(../images/icons/slider-arrow.png);
    margin-bottom: 15px;
}

.slick-cases-nav
{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 205;
}

.slider-next
{
    transform: rotate(180deg);
}

.screen.cases .container
{
    position: relative;
}

.slick-cases-dots
{
    position: absolute;
    right: 0;
    top: 25px;
}

.slick-cases-dots .slider-dots li
{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.slick-cases-dots .slider-dots button
{
    font-size: 0px;
    border: none;
    height: 30px;
    width: 105px;
    position: relative;
    margin-left: 15px;
    background: none;
}

.slick-cases-dots .slider-dots button:after
{
    content: "";
    position: absolute;
    height: 2px;
    right: 0;
    top: 50%;
    width: 65%;
    background-color: #ffffff;
    transition: 0.5s;

}

.slick-cases-dots .slider-dots li:hover button:after, .slick-cases-dots .slider-dots li.slick-active button:after
{
    width: 100%;
}

.slick-cases-dots .slider-dots li span
{
    transition: 0.5s;
    opacity: 0;
}

.slick-cases-dots .slider-dots li.slick-active span, .slick-cases-dots .slider-dots li:hover span
{
    opacity: 1;
}

.screen.cases .container:nth-child(3)
{
    text-align: center;
    margin-top: 35px;
}

.about-us .col-text p:first-child
{
    margin-top: 100px;
    display: block;
}

.about-us .container
{
    height: 100%;

}

.about-us
{
    background: url(../images/bg/about-us.png) no-repeat;
    background-position-x: 65%;
    background-position-y: center;
}

.about-us .text-wrapper
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 100;
}

.about-us .text-wrapper .link
{
    width: 165px;
}

.about-us .text-wrapper p:nth-child(2)
{
    color: #93abb4;
    margin-bottom: 40px;
}

.hide-3d:after
{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000C18;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.contact-form 
{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.contact-form input
{
    width: 400px;
    height: 50px;
    margin-bottom: 25px;
    background: none;
    border: none;
    border-bottom: 2px solid #4da69a;
    color: #ffffff;
    font-weight: 500;
}
.contact-form input::placeholder
{
    color: #ffffff;
    font-weight: 500;
}

.contacts-wrapper a
{
    display: inline-block;
}

.contacts-wrapper
{
    margin-top: 35px;
}

.screen.contacts .container, .screen.contacts .row
{
    height: 100%;
}

.screen.contacts .col-contacts, .section.contacts .col-contacts
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen.contacts .col-contacts .btn-follow, .section.contacts .col-contacts .btn-follow
{
    width: 330px;
}

.screen.contacts
{
    position: relative;
}

.screen.contacts:before, .section.contacts:before
{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #4da69a;
    z-index: 3;
}

.like-chat
{
    position: absolute;
    top: 15%;
    left: 47%;
    z-index: 5;
    color: #ffffff;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 900;
    width: 300px;
}

footer
{
    background: #ffffff;
    position: relative;
    z-index: 5;
    color: black;
    height: 100px;
}

footer .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .contact
{
    color: #000000;
    font-weight: 700;
    display: flex;
    align-items: center;
}

footer .contact img
{
    margin-right: 15px;
}

.copyright
{
    color: #000000;
    font-weight: 700;
    font-size: 14px;
}

.copyright a
{
    color: #4da69a;
}

.copyright a:hover
{
    text-decoration: none;
}

.section
{
    padding-top: 100px;
}

.sect-contacts
{
    background: url('../images/bg/bg-contacts.png');
}

.sect-contacts h2
{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 110px;
}

.sect-contacts h2 span
{
    color: #93abb4;
    display: inline;
    position: relative;
}

.sect-contacts h2 .cursor
{
    display: inline;
    height: 100%;
}

.sect-contacts h2 .typing-cursor
{
    display: inline;
    animation: type 1s linear infinite;
    text-transform: lowercase;

}

@keyframes type {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sect-contacts .contacts-wrapper
{
    position: absolute;
    width: 100%;
    top: 40%;
}

.sect-contacts .contacts-wrapper .contact-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;

    width: 250px;

    z-index: 10;
}

.sect-contacts .contacts-wrapper .contact-item:nth-child(1)
{
    left: 0;
}

.sect-contacts .contacts-wrapper .contact-item:nth-child(2)
{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.sect-contacts .contacts-wrapper .contact-item:nth-child(3)
{
    right: 0;
}

.sect-contacts .contacts-wrapper .contact-item img
{
    width: 43px;
    height: 43px;
}

.sect-contacts .contacts-wrapper
{
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
}

.sect-contacts .contacts-wrapper .contact-item span
{
    font-weight: 700;
    display: block;
    margin-top: 20px;
}

.sect-contacts .contacts-wrapper .contact-item:hover
{
    text-decoration: none;
}

footer .container
{
    height: 100%;
}

.cubes-bounce
{
    position: absolute;
    top: 25%;
    left: 15%;
    animation: bounce 9s linear infinite;
}

.cubes-border-bounce
{
    position: absolute;
    bottom: 25%;
    left: 25%;
    animation: bounce 7s linear infinite;
}

.input-form
{
    position: relative;
    margin-top: 10px;
}

.input-form label
{
    position: absolute;
    bottom: 30px;
    font-weight: 700;
    transition: 0.5s;
}

.input-form label.active
{
    bottom: 60px;
}

.section
{
    position: relative;
    min-height: 800px;
}

.bg
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.image-title
{
    position: relative;
    padding-top: 80px;
    height: 700px;
}

.image-title img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.image-title .container
{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-title h1
{
    font-size: 150px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 25px;
    margin-bottom: 75px;
}

.few-words
{
    padding-top: 50px;
    padding-bottom: 75px;
    overflow: hidden;
}

.few-words h3
{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 90px;
}

.few-words .words-item
{
    width: 420px;
    font-size: 15px;
}

.few-words .words-wrapper
{
    display: flex;
    justify-content: space-evenly;
}

.few-words .words-item:nth-child(1)
{
    color: #dde0e1;
}

.few-words .words-item:nth-child(2)
{
    color: #7f97a0;
}

.numbers-wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.numbers-wrapper .number-item
{
    font-size: 200px;
    font-weight: 900;
    color: #4da69a;
    line-height: 200px;
    padding-right: 25px;
    position: relative;
}

.numbers-wrapper .number-item::after
{
    position: absolute;
    color: #4da69a;
    top: 10px;
    font-size: 18px;
    line-height: normal;
    left: 7px;
    font-weight: 400;
    text-transform: uppercase;
}

.numbers-wrapper .number-item::before
{
    position: absolute;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    color: #4da69a;
    bottom: 15px;
    font-size: 18px;
    line-height: normal;
    left: 100%;
    width: 150px;
    font-weight: 400;
    text-transform: uppercase;

}

.numbers-wrapper .number-item:nth-child(1)::after
{
    content: "Более";
}

.numbers-wrapper .number-item:nth-child(2)::after
{
    content: "Более";
}

.numbers-wrapper .number-item:nth-child(1)::before
{
    content: "Лет на рынке";
}

.numbers-wrapper .number-item:nth-child(2)::before
{
    content: "Проектов";
}

.numbers-wrapper .number-item:nth-child(3)::before
{
    content: "Отзывов";
}

.subtitle
{
    font-size: 16px;
    font-weight: 100;
    color: #93abb4;
    display: block;
}

.our-team
{
    padding: 75px 0;
}

.team-item .description .name
{
    display: block;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
}

.team-item .description .position
{
    display: block;
    font-weight: 100;
    font-size: 15px;
    color: #4da69a;
    text-align: center;
    margin-top: 10px;
}

.our-team .team-wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 75px;
}

.team-item .description
{
    margin-top: -35px;
    position: relative;
    z-index: 10;
}

.team-item img
{
    width: 330px;
    height: 500px;
    object-fit: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: 0.5s;
}

.team-item
{
    margin-bottom: 50px;
}

.team-wrapper .team-item:nth-child(3n - 1)
{
    margin-top: 35px;
}

.team-item:hover img
{
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}